{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopMusik</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <!-- Навигация -->
    <nav class="navbar">
        <div class="container">
            <div class="nav-content">
                <div class="logo">
                    <h2>TopMusik</h2>
                </div>
                <ul class="nav-links">
                    <li><a href="/post">Мои публикации</a></li>
                    <li><a href="/photos">Фото альбомы</a></li>
                    <li><a href="/">Обо мне</a></li>
                </ul>
            </div>
        </div>
    </nav>
     <section id="principles" class="principles-section">
            <h2>Публикации</h2>
                {% for post in posts %}
                    <div class="principles-grid">
                        <div class="principle-card">
                            <h3>{{ post.title }}</h3>
                            <img src="{{ post.img.url }}" alt="Фото альбом 1">
                            <p>{{ post.description }}</p>
                            <span><b>{{ post.date }}</b></span>
                        </div>
                    </div>
                {% endfor %}
        </section>
    <main class="container">
            <section id="contact" class="contact-section">
                <h2>Контактная информация</h2>
                <div class="contact-info">
                    <p><strong>Имя:</strong> Парфирова Елена Юрьевна</p>
                    <p><strong>Должность:</strong> Музыкальный руководитель и педагог</p>
                    <p><strong>Стаж:</strong> Более 15 лет</p>
                    <p><strong>Телефон:</strong> +7 (XXX) XXX-XX-XX</p>
                    <p><strong>Email:</strong> example@email.com</p>
                </div>
            </section>
    </main>
</body>
</html>